.root {
  position: relative;
  display: inline-block;
  max-width: 100%;
  background-color: rgb(var(--rgb-white));
  border: 1px solid rgb(var(--rgb-gray));
  border-radius: 0.5em;
}
.root::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-right: 2px solid rgb(var(--rgb-primary));
  border-bottom: 2px solid rgb(var(--rgb-primary));
  transform: rotate(45deg) translateY(-100%);
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  max-width: 100%;
  padding: 1rem 3rem 1rem 0.875rem;
  background-color: transparent;
  border: none;
  border-radius: 0.5em;
  text-transform: none;
  outline: none;
  cursor: pointer;
}
.select:disabled {
  background-color: rgb(var(--rgb-light-gray));
  cursor: not-allowed;
}
