.root {
  position: relative;
  padding-left: 1.5rem;
  font-weight: bold;
}
.root::before {
  content: "!";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  font-size: 0.625rem;
  font-weight: bold;
  text-align: center;
}

.error {
  color: rgb(var(--rgb-error));
}
.error::before {
  border-color: rgb(var(--rgb-error));
}

.warning {
  color: rgb(var(--rgb-warning));
}
.warning::before {
  border-color: rgb(var(--rgb-warning));
}