.root {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.pages {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.prev,
.next,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.prev:not(:disabled):hover,
.next:not(:disabled):hover,
.button:hover {
  background-color: rgba(var(--rgb-primary), 0.25);
}
.current {
  background-color: rgb(var(--rgb-primary));
  color: rgb(var(--rgb-white));
}
.prev:disabled,
.next:disabled {
  cursor: not-allowed;
}

.prev::before,
.next::before {
  content: '';
  position: relative;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  transform: rotate(45deg);
}
.prev::before {
  left: 2px;
  border-bottom: 2px solid rgb(var(--rgb-black));
  border-left: 2px solid rgb(var(--rgb-black));
}
.next::before {
  right: 2px;
  border-top: 2px solid rgb(var(--rgb-black));
  border-right: 2px solid rgb(var(--rgb-black));
}
.prev:disabled::before,
.next:disabled::before {
  border-color: rgb(var(--rgb-gray));
}

.offscreen {
  display: none;
}