.root {
  margin: 1rem 0;
  background-color: rgb(var(--rgb-white));
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
}
.heading {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 56px;
  margin: 0;
  padding: 1rem 3rem 1rem 1rem;
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1rem;
  display: block;
  width: 1rem;
  height: 2px;
  margin-top: -1px;
  background-color: rgb(var(--rgb-gray));
}
.heading::after {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}
.heading.open::after {
  transform: rotate(0);
}
.body {
  position: relative;
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0 1rem;
  transition: padding 0.3s;
}
.body > *:first-child {
  margin-top: 0;
}
.body > *:last-child {
  margin-bottom: 0;
}
.open + .body {
  padding: 1rem;
  height: auto;
}
.open + .body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1rem;
  right: 1rem;
  height: 1px;
  background-color: rgb(var(--rgb-gray));
}
