.root {
  padding: 1rem;
}
.root > *:first-child {
  margin-top: 0;
}
.root > *:last-child {
  margin-bottom: 0;
}

.heading {
  font-weight: bold;
}
.sub {
  color: rgb(var(--rgb-gray));
  font-size: 0.875rem;
}