.root {
  position: relative;
  margin: 1.5rem 0;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.4;
}
.root::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.5em;
  height: 1px;
  background-color: rgb(var(--rgb-primary));
}
.root > *:first-child {
  margin-top: 0;
}
.root > *:last-child {
  margin-bottom: 0;
}

/* MEMO: ---------------------------------------------
アイコンの長さは全角で1.5文字分とするため「文字サイズ × 1.5」を計算する
------------------------------------------------------ */
.h1::before {
  width: calc(var(--h1-font-size) * 1.5);
}
.h2::before {
  width: calc(var(--h2-font-size) * 1.5);
}
.h3::before {
  width: calc(var(--h3-font-size) * 1.5);
}
.h4::before {
  width: calc(var(--h4-font-size) * 1.5);
}
.h5::before {
  width: calc(var(--h5-font-size) * 1.5);
}
.h6::before {
  width: calc(var(--h6-font-size) * 1.5);
}
