.root {
  display: grid;
  gap: 1rem;
  margin: 2rem 0;
}
.root > * {
  margin: 0;
}

.grid2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid4 {
  grid-template-columns: repeat(4, 1fr);
}

.start {
  align-items: start;
}
.center {
  align-items: center;
}
.end {
  align-items: end;
}