.root {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border: 1px solid transparent;
  border-radius: 9999px;
  color: rgb(var(--rgb-white));
  font-size: 0.75rem;
  line-height: 1;
  white-space: nowrap;
}
.primary {
  background-color: rgb(var(--rgb-primary));
}
.error {
  background-color: rgb(var(--rgb-error));
}
.warning {
  background-color: rgb(var(--rgb-warning));
}
.gray {
  background-color: rgb(var(--rgb-gray));
}