.root {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
}

.item {
  position: relative;
  padding-left: 1.25rem;
}
.item + .item {
  margin-top: 0.5rem;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(var(--rgb-primary));
}