.root {
  overflow-x: scroll;
  width: 100%;
  margin: 2rem 0;
  border-radius: 0.25rem;
}

.table {
  min-width: 650px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid rgb(var(--rgb-gray));
  border-top: none;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.2;
  text-align: left;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td {
  padding: 0.5rem;
  border-top: 1px solid rgb(var(--rgb-gray));
}

.table > thead > tr > th,
.table > tbody > tr > th {
  background-color: rgb(var(--rgb-light-gray));
}
.table > thead > tr > td,
.table > tbody > tr > td {
  background-color: rgb(var(--rgb-white));
}

.table > thead > tr > th,
.table > thead > tr > td {
  position: sticky;
  top: 0;
  z-index: 2;
}

.table > thead:first-child > tr:first-child > th:first-child,
.table > thead:first-child > tr:first-child > td:first-child,
.table > tbody:first-child > tr:first-child > th:first-child,
.table > tbody:first-child > tr:first-child > td:first-child {
  border-radius: 0.25rem 0 0 0;
}
.table > thead:first-child > tr:first-child > th:last-child,
.table > thead:first-child > tr:first-child > td:last-child,
.table > tbody:first-child > tr:first-child > th:last-child,
.table > tbody:first-child > tr:first-child > td:last-child {
  border-radius: 0 0.25rem 0 0;
}
.table > thead:last-child > tr:last-child > th:first-child,
.table > thead:last-child > tr:last-child > td:first-child,
.table > tbody:last-child > tr:last-child > th:first-child,
.table > tbody:last-child > tr:last-child > td:first-child {
  border-radius: 0 0 0 0.25rem;
}
.table > thead:last-child > tr:last-child > th:last-child,
.table > thead:last-child > tr:last-child > td:last-child,
.table > tbody:last-child > tr:last-child > th:last-child,
.table > tbody:last-child > tr:last-child > td:last-child {
  border-radius: 0 0 0.25rem 0;
}