:root {
  --rgb-white: 255,255,255;
  --rgb-black: 51,51,51;
  --rgb-gray: 144,164,174;
  --rgb-light-gray: 236,239,241;
  --rgb-primary: 0,150,136;
  --rgb-error: 211,47,47;
  --rgb-warning: 255,214,0;

  --h1-font-size: 2.5rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.75rem;
  --h5-font-size: 1.5rem;
  --h6-font-size: 1.25rem;

  --heading-line-height: 1.4;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  color: rgb(var(--rgb-black));
  line-height: 1.5;
}
input,
select,
textarea,
button {
  color: rgb(var(--rgb-black));
  font-size: 1rem;
  line-height: inherit;
}