.root {
  display: block;
  width: 100%;
  padding: 1rem 0.875rem 1rem;
  background-color: rgb(var(--rgb-white));
  border: 1px solid rgb(var(--rgb-gray));
  border-radius: 0.5em;
  outline: none;
}
.root:disabled {
  background-color: rgb(var(--rgb-light-gray));
  cursor: not-allowed;
}