.root {
  position: relative;
  margin: 1rem 0;
}

.radios {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  border: none;
}

.item {
  margin: 0;
}

.input {
  display: none;
}

.label {
  position: relative;
  display: block;
  padding: 0 0 0 1.5rem;
  cursor: pointer;
}

.tick {
  position: absolute;
  top: 0.2rem;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  background-color: rgb(var(--rgb-white));
  border: 1px solid rgb(var(--rgb-gray));
}
.tick::before {
  content: '';
  display: none;
  position: absolute;
  top: 0.1rem;
  left: 50%;
  width: 0.5rem;
  height: 0.25rem;
  border-bottom: 2px solid rgb(var(--rgb-primary));
  border-left: 2px solid rgb(var(--rgb-primary));
  transform: translateX(-50%) rotate(-45deg);
}
.input:checked + .label > .tick {
  border: 2px solid rgb(var(--rgb-primary));
  color: rgb(var(--rgb-primary));
}
.input:checked + .label > .tick::before {
  display: block;
}

.input:disabled + .label {
  color: rgb(var(--rgb-gray));
  cursor: not-allowed;
}
.input:disabled + .label > .tick {
  background-color: rgb(var(--rgb-light-gray));
}