.root {
  overflow: hidden;
  display: block;
  border-radius: 0.25rem;
  background-color: rgb(var(--rgb-white));

  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px -1px, rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
}